apiVersion: apps/v1
kind: Deployment
metadata:
  name: studylinker-front
  namespace: webservice
  labels:
    app: studylinker-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: studylinker-web
  template:
    metadata:
      labels:
        app: studylinker-web
    spec:
      containers:
        - name: frontend
          image: nugulsuhan/p_frontend:29e5aebcc42190a31c10040e2a9ebc85bab39cb4
          ports:
            - containerPort: 80