apiVersion: apps/v1
kind: Deployment
metadata:
  name: studylinker-front
  namespace: webservice
  labels:
    app: studylinker-web
spec:
  replicas: 2
  selector:
    matchLabels:
      app: studylinker-web
  template:
    metadata:
      labels:
        app: studylinker-web
    spec:
      containers:
        - name: frontend
          image: nugulsuhan/p_frontend:c37365247edda47a7be1d73688ad1a3c450f4366
          ports:
            - containerPort: 80
