apiVersion: apps/v1
kind: Deployment
metadata:
  name: studylinker-front
  namespace: webservice
  labels:
    app: studylinker-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: studylinker-web
  template:
    metadata:
      labels:
        app: studylinker-web
    spec:
      containers:
        - name: frontend
          image: nugulsuhan/p_frontend:7b3277a77001437ca19dc64a2d0559a3713efbaa
          ports:
            - containerPort: 80