apiVersion: apps/v1
kind: Deployment
metadata:
  name: studylinker-front
  namespace: webservice
  labels:
    app: studylinker-web
spec:
  replicas: 2
  selector:
    matchLabels:
      app: studylinker-web
  template:
    metadata:
      labels:
        app: studylinker-web
    spec:
      containers:
        - name: frontend
          image: nugulsuhan/p_frontend:4241d99c1b42a18023cc4450de43fb971f74a024
          ports:
            - containerPort: 80
