apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-deployment
  namespace: webservice
  labels:
    app: user-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-container
          image: nugulsuhan/user-service:a66912f2ba9e37d37c2ddf35e9eb7a9457528dc1
          ports:
            - containerPort: 10000
