apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-deployment
  namespace: webservice
  labels:
    app: notification-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
        - name: notification-container
          image: nugulsuhan/notification-service:85597c1553455299ad1e19410d9cd605963ffaad
          ports:
            - containerPort: 10000
