apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-deployment
  namespace: webservice
  labels:
    app: notification-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
        - name: notification-container
          image: nugulsuhan/notification-service:8785f3ece9107a299d6aee8a9161924c00174591
          ports:
            - containerPort: 10000
